body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pagination button {
  text-decoration: none; /* Remove underline */
  background-color: white; /* Set background to white */
  color: blue; /* Set text color to blue */
  padding: 10px 15px; /* Add enough space (adjust as needed) */
  border: 1px solid blue; /* Add border */
  border-radius: 5px; /* Optional: rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* .pagination button:hover {
  background-color: white; /* Change background to blue on hover */
/* color: blue; Change text color to white on hover */
/* } */

.pagination button:disabled {
  opacity: 0.5; /* Optional: reduce opacity for disabled buttons */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}

/* dashboard sidebar  */
/* styles.css or your main CSS file */
html,
body {
  height: 100%; /* Ensure the body takes full height */
  margin: 0; /* Remove default margin */
}

.main-sidebar {
  position: fixed; /* Fix the sidebar to the left */
  top: 0; /* Align it to the top */
  bottom: 0; /* Align it to the bottom */
  left: 0; /* Align it to the left */
  z-index: 100; /* Ensure it stays on top */
}

.sidebar {
  overflow-y: auto; /* Allow vertical scrolling */
}

.nav-sidebar .nav-item .nav-link {
  /* You can add padding/margins here for better spacing */
}

/* user sidebar */
/* styles.css or your main CSS file */
html,
body {
  height: 100%; /* Ensure the body takes full height */
  margin: 0; /* Remove default margin */
}

.main-sidebar {
  position: fixed; /* Fix the sidebar to the left */
  top: 0; /* Align it to the top */
  bottom: 0; /* Align it to the bottom */
  left: 0; /* Align it to the left */
  z-index: 100; /* Ensure it stays on top */
}

.sidebar {
  overflow-y: auto; /* Allow vertical scrolling */
  height: 100%; /* Make sure the sidebar takes full height */
}

.nav-sidebar .nav-item .nav-link {
  /* You can add padding/margins here for better spacing */
}

.loading-shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shrink-column {
  width: 1%;
  white-space: nowrap;
}

.pointer-event-none {
  pointer-events: none;
}

.online {
  height: 10px;
  width: 10px;
  overflow: hidden;
  border-radius: 50%;
  padding: 0;
}
